<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Home page</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" th:href="@{~/css/genericStyle.css}">
    </head>
    <body>
        <p>
        <span th:text="'Today is: ' + ${#dates.format(#dates.createNow(), 'dd MMM yyyy HH:mm')}" th:remove="tag"></span>
        <div th:text="@{~/js/calendarRequests.js}" th:remove="tag"></div>
        </p>
        <script th:src="@{~/js/fcalendarRequests.js}"></script>
    </body>
</html>