body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.background {
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url("/images/AT_background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: red;

}

.logo{
    height: 50px;
    width: 50px;
}
.adjust-right{
    width: fit-content;
    display: flex;
    flex-direction: row;
    margin-right: auto;
}
.item{
    margin: 4px;
    height: 45px;
    justify-content: center;
    text-align: center;
}
.item a {
    float: left;
    color: black;
    text-align: center;
    padding: 8px 3px;
    text-decoration: none;
    font-size: 17px;
  }
.filler{
    flex-grow: 1;
}

.content{
    display: flex;
    flex-direction: row;
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url("/images/AT_background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: red;
    min-height: 1000px;
}
.content-left{
    width: 85%;
}
.content-right{
    width: 15%;
}

.title{
    text-align: center;
}
.posts{
    align-self: center;
    background-color: white;
    outline: black solid 1px;
    margin: auto;
    padding: 10px;
    width: 70%;
    height: 300px;
}
.post{
    padding: 5px;
    margin: 10px;
    background-color: blanchedalmond;
}

.events{
    display: flex;
    flex-direction: column;

}
.event{
    align-self: center;
    outline: black solid 1px;
    margin: 20px;
    width: 80%;
    height: 200px;
}
