.header{
    font-family: Arial, sans-serif;
    width:100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}
.logo{
    height: 50px;
    width: 50px;
}
.adjust-right{
    width: fit-content;
    display: flex;
    flex-direction: row;
    margin-right: auto;
}
.item{
    margin: 4px;
    height: 45px;
    justify-content: center;
    text-align: center;
}
.item a {
    float: left;
    color: black;
    text-align: center;
    padding: 8px 3px;
    text-decoration: none;
    font-size: 17px;
  }
.filler{
    flex-grow: 1;
}
.content{
    font-family: Arial, sans-serif;
    background-image: url("../Images/AT_background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: red;
    outline: black solid 1px;
    width: 100%;
    height: 70%;
    max-height: 400px;
    display: flex;
    flex-direction: column;
}
.title{
    text-align: center;
}
.posts{
    align-self: center;
    background-color: white;
    outline: black solid 1px;
    margin: 20px;
    width: 70%;
    height: 300px;
}
.events{
    display: flex;
    flex-direction: column;

}
.event{
    align-self: center;
    outline: black solid 1px;
    margin: 20px;
    width: 80%;
    height: 200px;
}
.footer{
    font-family: Arial, sans-serif;
    width:100%;
    height: fit-content;
    outline:black solid 1px;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}
.footer-navbox{
    background-color: white;
    width: fit-content;
    display: flex;
    flex-direction: column;
    margin-right: auto;
    outline: black solid 1px;
}
.footer-links{
    width: fit-content;
    display: flex;
    flex-direction: column;
    margin: 10px;
    outline: black solid 1px;
}
.footer-logo{
    height: 90px;
    width: 90px;
}
.footer-item{
    margin: 5px;
}
.disclaimer{
    background-color: white;
    max-width: 20%;
    max-height: 270px;
    overflow-y: scroll;
}
.footer-content{
    background-image: url("../Images/AT_background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: red;
    outline: black solid 1px;
    width: 100%;
    height:auto;
    max-height: 400px;
    display: flex;
    flex-direction: column;
}