body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url("../Images/AT_background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: red;
}

.LoginBox {
    border: 2px solid black;
    background-color: white;
    text-align: center;
    width: 350px;
    height: 450px;
    margin: auto;
}

.SignupBox {
    border: 2px solid black;
    background-color: white;
    text-align: center;
    width: 350px;
    height: 450px;
    margin: auto;
}

.column {
    float: left;
    width: 50%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

/* body.container {
} */
