body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.background {
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url("/images/AT_background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: red;

}

.content{
    display: flex;
    flex-direction: row;
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url("/images/AT_background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: red;
    min-height: 1000px;
}
.content-left{
    width: 85%;
}
.content-right{
    width: 15%;
}